<div class="wrapper">
    <div class="wrapped-div" style="height: auto;max-width:1300px">
        <div class="container pt-5 pb-4">
            <div class="row ">
                <div class="form col-md-12">
                    <div class="form-group">
                        
                      
                        <div class="row">
                            <div class="col-md-1">
                                <label>Discount</label>
                            </div>
                            <select class="form-select form-control" id="Discount" name="Discount" style="width:auto"
                                aria-label="Default select example" (change)="calculatePrice($event.target)" placeholder="Discount">
                                <option value="20">AIR1</option>
                                <option value="10">WELCOME1</option>


                            </select>
                        </div>
                        <div class="row" style="height: 50px;">
                            <div class="col-md-3">
                                <label>Final Price</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row col-md-12">
                                <button type="submit" (click)="bookFlight()" class="btn btn-success ">Checkout</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>